@{
    ViewBag.Title = "Contact";
}
<div style="padding: 0% 0% 5% 0%" ><h2>@ViewBag.Title</h2></div>
<div><h3>Robert Garlock</h3></div>

<address>
    2119 Olive St.<br />
    Saint Louis, MO 63124<br />
    <abbr title="Phone">P:</abbr>
    314.616.9676
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rgarlock41009@gmail.com">rgarlock41009@gmail.com</a><br />
   
</address>