<div id="featured-wrapper">

    <div class="extra2 container">
        <div class="ebox1">
            <div class="hexagon">
                <img height="75" width="75" src="~/Content/Images/Broken_cigarrette.svg" />
                </div>
            <div class="title">
                <h2>Struggling to break the habit?</h2>
               
            </div>
            
            <p>This is <strong>Breathe Easy</strong>, an app designed t help you quit smoking. Choose to quit gradually or immediately by selecting the plan that works for you. See how much your health is improving as you progress with our Health Facts Timeline. Set financial goals for yourself to reward yourself with all the money you save. Track your cravings. All these features and more will help you stay motivated and stay focused so that you'll be breathing easy in no time.</p>
                <div class="button">@Html.ActionLink("Sign Up Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
            
        </div>

        @*<div class="ebox2">
            <div class="hexagon"><span class="icon icon-bullhorn"></span></div>
            <div class="title">
                <h2>Donec dictum metus</h2>
                <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
            </div>
            <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet.</p>
            <a href="#" class="button">Etiam posuere</a>
        </div>*@

    </div>

</div>

